name: GitHub Actions Build
on:
  push:
    branches:
      - main
jobs:
    my_first_job:
      name: template
      runs-on: "self-hosted"
      steps: 
      - name: Check out repository
        uses: actions/checkout@v2
        run: |
          ls ${{ github.workspace }}
          ls > c.txt
