name: GitHub Actions Build
on:
  push:
    branches:
      - main
jobs:
    my_first_job:
      name: template
      runs-on: "self-hosted"
      steps: 
      - name: Check out repository
        run: |
          pwd > c.txt
          working-directory:/usr/template/package