name: GitHub Actions Build
on:
  push:
    branches:
      - main
jobs:
    job1:
      name: template
      runs-on: "self-hosted"
      steps: 
      - name: Pull
        run: |
          ls > a.txt
